@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dhaka {
    width: 200px;
    height: 200px;
    background: cornflowerblue;
    margin: 20px;
    transition: 0.5s;
}

.dhaka:hover {
    transform: scale(1.2) translate(50px, 50px) skew(10deg, 10deg) rotate(20deg);
}

.pera{
    font-family: 'Protest Revolution', sans-serif;
}